body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* Multiple Container */

.top-container,
.footer-container {
    background-color: #1f2937;
}

.left-content p, .top-container .links a {
    font-size: 18px;
    color: #e5e7eb;
}

/* TOP CONTAINER  */

.top-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex: 1;
}


.top-container .logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    width: 400px;
}

.top-container .links a {
    text-decoration: none;
}

.top-container .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

/* ===Header=== */

.top-container .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
    width: 70%;
    margin: 10px;
}

/* DASHBOARD */

.top-container .dashboard {
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    margin: auto;
    gap: 52px;
    width: 70%;
}

/* ===Dashboard Left Content===  */


.top-container .left-content {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; */
    width: 400px;
}

.left-content .title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    text-align: left;
}

.dashboard-button {
    background-color: #3882f6;
    border-color: #3882f6;
    color: white;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}


/* ===Dashboard Right Content=== */

.top-container .right-content {
    /* display: flex; */
    background-color: gray;
    padding: 100px;
    color: white;
    width: auto;
}

/* INFORMATION CONTAINER */

.information-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 80px;
    gap: 32px;
}

.information-container .title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    flex-direction: row;
    padding: 20px;
}

.title {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
}

.box {
    border: solid #3882f6;
    border-radius: 7px;
    width: 100px;
    height: 100px;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info .text{
    margin-top: 8px;
    text-align: center;
    width: 100px;
    border: solid 3px red;
}

/* QUOTE CONTAINER */

.quote-container {
    border: solid 3px black;
}

.signup-container {
    border: solid 3px black;
}

.footer-container {
    border: solid 3px black;
}
